<div class="tought-form-container">
    <a href="/toughts/dashboard">Voltar</a>
    <h2>Criando um Pensamento:</h2>
    <form action="/toughts/add/api" method="post">
        <div class="form-control">
            <label for="title">Pensamento: </label>
            <input type="text" name="title" id="title" placeholder="Digite o seu pensamento...">
        </div>
        <button type="submit" class="btn">Criar Pensamento</button>
    </form>
</div>