.petlist_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2em;
}

.petlist_header h1 {
	margin: 0;
}

.petlist_header a {
	background-color: var(--primary-blue);
	border-radius: 8px;
	color: white;
	border: none;
	font-size: 18px;
	font-weight: bold;
	padding: 0.5em 1em;
	transition: 0.4s;
}

.petlist_header a:hover {
	background-color: white;
	color: var(--primary-blue);
	box-shadow: 0 0 0 2px var(--primary-blue);
}

.petlist_container {
	display: flex;
	flex-direction: column;
}

.petlist_container .petlist_row:first-child {
	border-top: 2px solid var(--primary-blue);
}

.petlist_row {
	display: flex;
	flex-direction: row;
	padding: 1.5em;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	border-bottom: 2px solid var(--primary-blue);
}

.petlist_row .pet_info span {
	margin-left: 1em;
}

.petlist_row .pet_info {
	display: flex;
	align-items: center;
}

.actions {
	display: flex;
	gap: 1em;
}

.actions a,
.actions button {
	padding: 0.5em 1em;
	border-radius: 8px;
	background-color: white;
	color: var(--primary-blue);
	box-shadow: 0 0 0 2px var(--primary-blue);
	font-size: 14px;
	font-weight: bold;
	border: none;
	transition: 0.4s;
	cursor: pointer;
}

.actions a:hover,
.actions button:hover {
	background-color: var(--primary-blue);
	color: white;
}

.actions .conclude_btn {
	color: white;
	background-color: #25b456;
	box-shadow: 0 0 0 2px #5ca174;
}

.actions .conclude_btn:hover {
	color: #25b456;
	box-shadow: 0 0 0 2px #25b456;
	background-color: white;
}

.actions .refuse_btn {
	color: white;
	background-color: #e62539;
	box-shadow: 0 0 0 2px #b21c2b;
}

.actions .refuse_btn:hover {
	color: #e62539;
	box-shadow: 0 0 0 2px #e62539;
	background-color: white;
}

.contact {
	margin-left: 2em;
}

.contact p {
	margin: 0.5em;
}
