<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node MVC</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body>
    <header>
        <h2>Node MVC</h2>
        <nav>
            <ul>
                <li><a href="/tasks">Ver Todos</a></li>
                <li><a href="/tasks/add">Criar</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        {{{body}}}
    </div>
    <footer>Footer</footer>
</body>

</html>