<h1>Livros Disponíveis:</h1>
<div class="books-container">
    <a href="/"> Adicionar livro</a>
    {{#each books}}
    <div>
        <a href='/book/{{this.id}}'>
            #{{this.id}} - <span class="bold">{{this.title}}</span> - {{this.page_qty}}
            páginas
        </a>
    </div>
    {{/each}}
</div>