<h1>Edite o seu livro:</h1>

<form action="/api/book/update" method="post" class="form">
    <input type="hidden" name="id" value="{{book.id}}">
    <div class="form-control">
        <label for="title">Título</label>
        <input type="text" name="title" id="title" placeholder="Digite um título" value="{{book.title}}">
    </div>
    <div class="form-control">
        <label for="page_qty">Número de páginas:</label>
        <input type="text" name="page_qty" id="page_qty" placeholder="Digite um título" value="{{book.page_qty}}">
    </div>
    <input type="submit" value="Salvar">
</form>