<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuáio</title>
</head>

<body>
    <h1>Cadastro de Usuáio</h1>
    <form action="/user" method="post">
        <div>
            <input type="text" name="name" id="name" placeholder="Digite um nome...">
            <input type="number" name="age" id="age" placeholder="Digite uma idade...">
            <input type="submit" value="Enviar">
        </div>
    </form>
</body>

</html>