<div class="auth-container">
    <h2>Login</h2>
    <form action="/login/api" method="post">
        <div class="form-control">
            <label for="email">E-mail:</label>
            <input type="email" name="email" id="email" placeholder="Digite seu email" required>
        </div>
        <div class="form-control">
            <label for="password">Senha:</label>
            <input type="password" name="password" id="password" placeholder="Digite sua senha" required>
        </div>
        <button type="submit" class="btn">Logar</button>
        <p>Não tem sua conta? <a href="/signup">Clique Aqui!</a></p>
    </form>
</div>